@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
div#MMMessageContent * {
  z-index: 9999;
  font-family: "vt323";
  font-size: 3rem;
  color: rgb(255, 0, 0);

  animation: flash 2.5s;
  animation-iteration-count: 5;
  margin: 0;
  padding: 0;
}

div#MMMessageContent {
  z-index: 9999;

  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 0;
}
