@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@keyframes flash{
  0% {
      opacity: 0;
    }

    50% {
      opacity: 1.0;
    }

    100% {
      opacity: 0;
    }

}
h1#MMMessageContent{
  font-family: "vt323";
  font-size:3rem;
  color:rgb(255,0,0);

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;

  animation: flash 2.5s;
  animation-iteration-count: 5;
}